.card {
    /* width:250px !important; */
    height: 160px;
    border-radius: 15px 15px 0 0 !important;
    /* margin-left: 100px; */
    margin-bottom: 240px !important;
    -webkit-box-shadow: 2px 2px 16px -8px rgba(194, 189, 189, 0.68) !important;
    box-shadow: 2px 2px 16px -8px rgba(194, 189, 189, 0.68) !important;
    transition: transform 0.3s ease;
    /* background-color: #ddd !important; */
}

.card:hover {
    transform: translateY(-10px);
    /* scale(1.1) ; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-bottom: 35px; */
    margin-bottom: 62px;

}

.container {
    margin-top: 50px;
    /* width: 2000px; */


}

body {
    /* background-color: #EEEEEE !important; */
    font-family: "Montserrat", sans-serif !important;

}


.c-contain {
    -webkit-box-shadow: 4px 4px 18px -6px rgba(194, 189, 189, 0.68) !important;
    box-shadow: 4px 4px 18px -6px rgba(194, 189, 189, 0.68) !important;
    height: 300px !important;
    background-color: "#fff";
}

.c-contain p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

}

.c-contain .header {
    color: #6F9A61;
    /* margin-top: 10px; */
    font-size: 27px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
}

.growbm {
    display: flex;
    justify-content: space-between;
    /* margin-top: 0px; */
}

.growbm a {
    text-decoration: none !important;
    color: #6f9A61 !important;
    font-size: 19px;
    margin-left: 20px;
    font-weight: bold;
}

.growbm h2 {
    margin-right: 20px;
    color: #6F9A61;
    font-size: 19px;
    /* margin-top: 0px;
    padding-top: 0; */
    line-height: 50%;
    font-weight: bold !important;
    /* display: flex;
    align-items: center; */
}

/* .text{
    color:gray;
 } */
.left {
    color: #6f9A61;
    /* margin-left:15px;
    margin-top:10px; */
    font-weight: bold;
    font-size: 18px;
    /* display: flex; */
    font-size: 27px;
    display: -webkit-box;
    padding: 15px 10px 0px;
    font-family: "Montserrat", sans-serif !important;

    /* justify-content: center; */
    overflow: hidden;
    text-overflow: ellipsis;

}




/* large */
@media (max-width: 1200px) {
    .col-md-4 {
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
        margin-bottom: 64px;

       
    }
}
/* med */
@media (max-width: 992px) {
    .col-md-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
       
    }
}

/* Media Query for small screens */
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 64px;
    } 
}
/* small */
@media (max-width: 576px) {
    .col-md-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        
    }

   

   
}